.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 70%;
    border: solid red 1px;
}

body {
    position: relative;
}

.connexion {
    position: fixed;
    top: 0;
    right: 0;
    height: 92vh;
    width: 30%;
    margin-bottom: 4vh;
    margin-top: 4vh;
    padding: 30px;
    vertical-align: center;
    border-left: solid 1px black;
}

.SearchKeywords {
    width: fit-content;
}

.catalogue {
   

}